th {
    vertical-align: center;
}

tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

.selected-row {
    background-color: #ffd296d2 !important;
    user-select: none;
}

.unselected-row {
    user-select: none;
}

.selected-row-dark {
    background-color: #404859 !important;
    user-select: none;
}

.unselected-row-dark {
    user-select: none;
}

.rowValueChip {
    max-width: 50vw;
    white-space: nowrap;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rowValue {
    max-width: 40vw;
    white-space: nowrap;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}