th {
    vertical-align: center;
}

tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

tbody tr.v-data-table__selected {
    background: #f5c17d70 !important;
}

tbody tr.v-data-table__selected:hover {
    background: #ffd296d2 !important;
}

.spacer {
    margin-top: 3em;
}