th {
    vertical-align: center;
}

tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

.selected-row {
    background-color: #ffd296d2 !important;
    user-select: none
}

.unselected-row {
    user-select: none
}